@import '../../styling/variables';


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

}

.potential > svg {
  g {
    opacity: 0.75;
  }
}

.mapboxgl-ctrl-top-right {
  top: 60px !important; // override default styling to move below header
}

.hide > svg {
  g {
    fill: lightgrey;
  }
}

.off {
  visibility: hidden;
}

/* Popup styling */

.mapboxgl-popup {
  padding-bottom: 5px; // floats entire popup above marker

  .mapboxgl-popup-content span.header {
    font: small-caps 200 20px $fontRegular;
    padding: 0;
    width: 250px;
  }
  
  .mapboxgl-popup-content {
    font: 400 12px/18px $fontRegular;
    width: 250px;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: scroll;
    overflow-wrap: break-word;
    hyphens: auto;
    padding: 10px 25px 15px 25px;
    box-shadow: 0 0 8px .5px rgba(153, 153, 153) !important;
  }

}

.mapboxgl-popup-tip { // styles triangular tip
  height: 0px;
}
 