#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

}

.hide > svg {
  g {
    fill: lightgrey;
  }
}

/* Popup styling */
.mapboxgl-popup {
  padding-bottom: 5px;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 250px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-container {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
  margin-top: 3px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: rgb(61, 59, 59);
}