@import '../../styling/variables';

$iconWidth: 30px;
$rowHeight: 30px;

#list {
  font-family: $fontRegular;
  position: absolute;
  text-align: left;
  top: 10%;
  left: 25px;
  width: 20%;
  min-width: 250px;
  height: 85%;
  background-color: $colorBackground;
  overflow: scroll; // maybe change to hidden
  white-space: nowrap;
  box-shadow:  0 0 8px 1px #ccc;
  border-radius: 3px;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-height: $rowHeight;
  min-height: $rowHeight;
  overflow: hidden;
  transition: max-height 300ms;

  .category::before {
    transform: translateY(-15%) translateX(-20%) rotate(-90deg);
  }

  &.isOpen {
    max-height: 1000px;

    .category::before{
      transform: translateY(-15%) translateX(0%) 

    }
    .category .name{
      font-weight: 600;
    }
  }

  .category {
    padding: .5em;
    border-bottom: $colorDisabled 1px solid;
    font-weight: 400;
    display: flex;
    align-items: center;

    &::before{
      content: "";
      width: $iconWidth;
      height: 100%;
      background-image: url("../../../assets/arrow.svg");
      transform-origin: center;
      transition: transform 200ms;
    }

    .count{
      font-weight: 600;
    }
  }

  .body {
    padding: 0 $iconWidth 0 0;
    height: 100%;
    overflow: scroll;
  }
}

.download, .category, .listItem, .listItemRow {
  font-size: $fontSizeSmall;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden; // TODO: figure out how to get ellipse to work
  height:$rowHeight;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.download {
  max-height: 1000px;
  min-height: $rowHeight;
  box-sizing: border-box;
  border-top: $colorDisabled 1px solid;
  display: flex;
  justify-content: flex-end;
  float: right;
  &.inactive {
    span, div {
      opacity: 0.2;
    }
    pointer-events: none;
    cursor: none;
  }
}

.downloadIcon {
  padding: 5px;
  svg {
    height: 12px;
  }
  path {
    stroke: black;
  }
}

.listItem, .category {
  border-bottom: $colorDisabled 1px solid;
}

.listItemIcon {
  width: $iconWidth;
  padding: 5px;
  path.map-point, path.circle {
    opacity: 0;
  }
}

.inBuffer {
  span {
    font-weight: 700;
  }
  path.map-point {
    opacity: 1;
    fill-opacity: 0;
    stroke-width: 1.5;
  }
  path.circle {
    opacity: 1;
    stroke-width: 1.5;
  }
}

.selected {
  span {
    font-weight: 700;
  }
  path.map-point {
    opacity: 1;
    fill-opacity: 1;
    stroke-width: 0;
  }
  path.circle {
    opacity: 1;
    stroke-width: 0;
  }
}
