@import '../../styling/variables';

$iconWidth: 30px;
$rowHeight: 30px;
$sliderWidth: 25px;
$sliderHeight: 10px;

#list {
  font-family: $fontRegular;
  position: absolute;
  text-align: left;
  top: 10%;
  left: 25px;
  width: 20%;
  min-width: 250px;
  height: 85%;
  background-color: $colorBackground;
  overflow: scroll; // maybe change to hidden
  white-space: nowrap;
  box-shadow:  0 0 8px 1px #ccc;
  border-radius: 3px;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.wrapper {
  border-bottom: $colorDisabled 1px solid;
  max-height: $rowHeight;
  min-height: $rowHeight;
  overflow: hidden;
  transition: max-height 300ms;

  .categoryRow {
    display: flex;
    flex-direction: row;
    height: $rowHeight;
    justify-content: space-between;
    border-bottom: $colorDisabled 1px solid;
  }

  .category::before {
    transform: translateY(-10%) translateX(10%) rotate(-90deg);
  }

  &.isOpen {
    max-height: 1000px;

    .category::before{
      transform: translateY(10%) translateX(10%) 

    }
    .category .name{
      font-weight: 600;
    }
  }

  .category {
    border-bottom: $colorDisabled 1px solid;
    font-weight: 400;
    display: flex;
    align-items: center;

    &::before{
      content: "";
      width: $iconWidth;
      height: 100%;
      background-image: url("../../../assets/arrow.svg");
      transform-origin: center;
      transition: transform 200ms;
    }

    .count{
      font-weight: 600;
    }
  }


.toggle {
  margin: auto;
  padding: 10px;
}
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: $sliderWidth;
  height: $rowHeight*.4;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: $sliderHeight;
  width: $sliderHeight;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX($sliderWidth*.5);
  -ms-transform: translateX($sliderWidth*.5);
  transform: translateX($sliderWidth*.5);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


  .body {
    height: 100%;
    overflow: scroll;
  }
}

.toggleStatusOff  {
  background-color: $colorDisabledDarker !important; // TODO: not need important class
}

.category {
  font-size: $fontSizeSmall;
  //box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  height:$rowHeight;
  cursor: pointer;
}

.listItem, .listItemRow, .buffer-info {
  font-size: $fontSizeSmall;
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  height:$rowHeight;
  display: flex;
  align-items: center;
}

.buffer-info {
  display: block;
  max-height: 1000px;
  min-height: 50px;
}

.radius, .download {
  padding: 5px 5px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  float: right;
  cursor: pointer;
  &.inactive {
    span, div {
      opacity: 0.2;
    }
    pointer-events: none;
  }
}

.downloadIcon {
  padding: 5px;
  svg {
    height: 12px;
  }
  path {
    stroke: black;
  }
}

.listItem, .categoryRow {
  border-bottom: $colorDisabled 1px solid;
  cursor: pointer;
}

.listItemDistance {
  padding: 8px;
}

.listItemIcon {
  width: $iconWidth;
  padding: 5px;
  path.map-point, path.circle {
    opacity: 0;
  }
}

.inBuffer {
  span {
    font-weight: 700;
  }
  path.map-point {
    opacity: 1;
    fill-opacity: 0;
    stroke-width: 1.5;
  }
  path.circle {
    opacity: 1;
    stroke-width: 1.5;
  }
}

.selected {
  span {
    font-weight: 700;
  }
  path.map-point {
    opacity: 1;
    fill-opacity: 1;
    stroke-width: 0;
  }
  path.circle {
    opacity: 1;
    stroke-width: 0;
  }
}
