@import '../../styling/variables';

$rowHeight: 55px;

#header {
    font-family : $fontRegular;
    height: $rowHeight;
    z-index: 3;
    background-color: $colorPrimary;
    width: 100%;
    position: absolute;
    box-shadow:  0 0 6px 2px rgb(153, 153, 153);

    .logo {
        background-image: url("../../../assets/rethink-logo.png");
        background-size: cover;
        height: $rowHeight;
        width: 140px;
        position: absolute;
        z-index: 4;
    }

    #google-buttons {
        position: absolute;
        right: 0px;
        width: 15%;
        max-width: 120px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    
        .button {
            margin: 1%;
            font-family: inherit;
            font-size: $fontSizeSmall;
        }
    }
}






